<ion-header mode="ios">
  <ion-toolbar color="tertiary">
    <ion-title>Weather</ion-title>
  </ion-toolbar>
  <ion-toolbar color="tertiary">
    <ion-searchbar class="search"
      placeholder="Search"
      [(ngModel)]="searchQuery"
      (keyup.enter)="onSearch()"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content mode="ios">
  <ion-list>
    <ion-item-sliding *ngFor="let cardData of cardDataList">
      <ion-item id="present-alert" (click)="openWeatherDetailsAlert(cardData.location.name)">
        <ion-alert
        mode="ios"
          trigger="present-alert"
          header="Alert!"
          [buttons]="alertButtons"
        > </ion-alert>
        <ion-card>
          <ion-card-header>
            <ion-img class="upper-data-image"
              *ngIf="cardData.current.temp_c > 15"
              src="../assets/media/hot.jpg"
            ></ion-img>
            <ion-img class="upper-data-image"
              *ngIf="cardData.current.temp_c < 15"
              src="../assets/media/cold.jpg"
            ></ion-img>
            <ion-card-title class="location">{{ cardData?.location?.name }}, {{ cardData?.location?.country }}</ion-card-title>
            <ion-card-title class="temperature">{{ cardData?.current?.temp_c }}°C</ion-card-title>
          </ion-card-header>
        </ion-card>
     
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" expandable (click)="deleteCardData(cardData)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
